
@{
    ViewBag.Title = "ServerError";
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}

<main class="container">
    <h2>Oops...Something Went Wrong</h2>
    <p>Sorry, we were unable to fulfill your request. Please try again later or contact the system administrator.</p>
</main>

